$primary-color: #3bd672;

html {
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #131a26;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  .container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

#header {
  background: rgba(18, 26, 38, .5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 30px 0;
  color: $primary-color;
  width: 100%;
  border-radius: 0 0 30px 30px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  .navi {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    a {
      margin-left: 20px;
      transition: color ease 150ms;
    }
    a:hover {
      color: $primary-color;
    }
  }
  .stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    div {
      margin: 0 10px;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}

#uptime {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  .site {
    border-bottom: 1px solid #e6e7e8;
    margin: 0 30px;
    padding: 25px 0;
    .loading {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23D6D8D8' d='M19.52 42.712c9.897 2.916 20.285-2.743 23.201-12.64l-3.902-1.15c-2.281 7.742-10.407 12.17-18.15 9.888l-1.15 3.902z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      width: 40px;
      height: 40px;
    }
    .meta {
      display: flex;
      align-items: baseline;
      .name {
        font-weight: bold;
        font-size: 16px;
      }
      .link {
        background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1036 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M600.818 697.6c-70.4 0-134.4-25.6-192-76.8-25.6-25.6-25.6-64-6.4-89.6 25.6-25.6 64-25.6 89.6-6.4 57.6 51.2 147.2 51.2 198.4 0l166.4-166.4c25.6-25.6 38.4-64 38.4-102.4 0-25.6-6.4-64-38.4-96-57.6-51.2-147.2-51.2-198.4 0l-64 76.8c-25.6 25.6-64 25.6-89.6 0-25.6-25.6-25.6-64 0-89.6l70.4-70.4c102.4-102.4 268.8-102.4 377.6 0 51.2 51.2 83.2 115.2 83.2 192 0 70.4-25.6 134.4-76.8 192l-166.4 166.4c-57.6 44.8-121.6 70.4-192 70.4z' fill='%231E90FF'/%3E%3Cpath d='M274.418 1024c-70.4 0-134.4-25.6-192-76.8-108.8-96-108.8-262.4-6.4-377.6l166.4-166.4c108.8-102.4 275.2-102.4 377.6 0 25.6 25.6 25.6 64 0 89.6s-64 25.6-89.6 0c-51.2-51.2-140.8-51.2-198.4 0l-166.4 166.4c-44.8 51.2-64 140.8 0 198.4 57.6 51.2 147.2 51.2 198.4 0l70.4-70.4c25.6-25.6 64-25.6 89.6 0s25.6 64 0 89.6l-70.4 70.4c-44.8 51.2-108.8 76.8-179.2 76.8z' fill='%231E90FF'/%3E%3C/svg%3E");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
        text-indent: -99999px;
        margin-left: 8px;
        opacity: 0.6;
        transition: opacity ease 150ms;
        &:hover {
          opacity: 1;
        }
      }
      .ssl-info {
        font-weight: bold;
        font-size: 14px;
      }
      .status-container {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      .status-indicator {
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        font-weight: bold;

        &.ok {
          background: $primary-color;
        }
        &.down {
          background: #de484a;
        }
        &.unknow {
          background: #e5e8eb;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          animation: ripple 1.5s infinite;
        }
        &.ok::after {
          background: rgba(79, 214, 156, 0.75);
        }
        &.down::after {
          background: rgba(222, 72, 74, 0.75);
        }
        &.unknow::after {
          background: rgba(229, 232, 235, 0.75);
        }
      }
      .status {
        font-size: 13px;
        color: #131a26;
        margin-left: 5px;
        font-weight: bold;
      }
    }
    .timeline {
      display: flex;
      justify-content: space-between;
      margin: 15px 0 10px 0;
      i {
        flex-grow: 1;
        margin: 0 1px;
        height: 25px;
        border-radius: 5px;
        transition: opacity ease 150ms;
        &.ok {
          background-color: $primary-color;
        }
        &.down {
          background-color: #de484a;
        }
        &.none {
          background-color: #e5e8eb;
        }
        &:hover {
          opacity: 0.6;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .summary {
      display: flex;
      justify-content: space-between;      
      font-size: 12px;
      line-height: 12px;
      color: #333333;
    }
    .tooltip {
      padding: 6px 9px !important;
      border-radius: 5px !important;
    }
  }
  .site:last-child {
    border-bottom: none;
  }
}

#uptime::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, .5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

#footer {
  background: rgba(18, 26, 38, .5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 25px;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    font-weight: bold;
    color: #555555;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.search-container {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

.no-results {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}