$small-text-shadow: -0.2px -0.2px 0.2px #000, 0.2px 0.2px 0.2px #fff;
$medium-text-shadow: -0.5px -0.5px 0.5px #000, 0.5px 0.5px 0.5px #fff;
$large-text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;

@font-face {
    font-family: 'FZRZY';
    src: url('https://fastly.jsdelivr.net/gh/caogens/FreeCDN@master/font/fzrzy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  text-shadow: $small-text-shadow;
  font-family: 'FZRZY', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #131a26;
}

.small-text {
  text-shadow: $small-text-shadow;
}
.medium-text {
  text-shadow: $medium-text-shadow;
}
.large-text {
  text-shadow: $large-text-shadow;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  .container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

#header {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #000;
  width: 100%;
  border-radius: 10px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  .navi {
    font-size: 16px;
    color: #111;
    font-weight: bold;
    display: flex;
    a {
      margin-left: 20px;
      transition: color ease 150ms;
    }
    a:hover {
      color: #222;
    }
  }
  .stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    div {
      margin: 0 10px;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
  }
  @media (max-width: 600px) {
    .logo {
      font-size: 18px;
    }
    .navi {
      font-size: 14px;
    }
    .stats div {
      font-size: 14px;
    }
  }
}

#uptime {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  .site {
    border-bottom: 1px solid #e6e7e8;
    margin: 0 30px;
    padding: 25px 0;
    @media (max-width: 600px) {
      margin: 0 10px;
      padding: 15px 0;
    }
    .loading {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23D6D8D8' d='M19.52 42.712c9.897 2.916 20.285-2.743 23.201-12.64l-3.902-1.15c-2.281 7.742-10.407 12.17-18.15 9.888l-1.15 3.902z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      width: 40px;
      height: 40px;
    }
    .meta {
      display: flex;
      align-items: baseline;
      .name {
          font-weight: bold;
          font-size: 15px;
      }
      .link {
          display: inline-block;
          padding: 2px 6px 0px;
          background: rgba(255, 255, 255, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          font-size: 13px;
          font-weight: bold;
          color: #1e90ff;
          text-decoration: none;
          margin-left: 8px;
          transition: background-color 150ms ease, color 150ms ease;
          &:hover {
              background-color: #e0e0e0;
              color: #104e8b;
          }
      }
      .ssl-info {
          display: inline-block;
          padding: 2px 6px 0px;
          background: rgba(255, 255, 255, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          font-size: 13px;
          font-weight: bold;
          color: #ff4500;
          text-decoration: none;
          margin-left: 8px;
          transition: background-color 150ms ease, color 150ms ease;
          &:hover {
              background-color: #e0e0e0;
              color: #c03000;
          }
      }
      .status-container {
          display: flex;
          align-items: baseline;
          margin-left: auto;
      }
      .status-indicator {
          position: relative;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
          font-weight: bold;
          transform: translateY(2px);
          &.ok {
              background: #3bd672;
          }
          &.down {
              background: #de484a;
          }
          &.unknow {
              background: #e5e8eb;
          }
          &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              transform: translate(-50%, -50%);
              animation: ripple 1.5s infinite;
          }
          &.ok::after {
              background: rgba(79, 214, 156, 0.75);
          }
          &.down::after {
              background: rgba(222, 72, 74, 0.75);
          }
          &.unknow::after {
              background: rgba(229, 232, 235, 0.75);
          }
      }
      .status {
          font-size: 13px;
          color: #131a26;
          margin-left: 5px;
          font-weight: bold;
      }
      @media (max-width: 600px) {
        .name {
            font-size: 13px;
        }        
        .link {
            font-size: 11px;
        }        
        .ssl-info {
            font-size: 11px;
        }
        .status {
            display: none;
        }
      }
    }    
    
    .timeline {
      display: flex;
      justify-content: space-between;
      margin: 15px 0 10px 0;
      i {
        flex-grow: 1;
        margin: 0 1px;
        height: 25px;
        border-radius: 5px;
        transition: opacity ease 150ms;
        &.ok {
          background-color: #3bd672;
        }
        &.down {
          background-color: #de484a;
        }
        &.none {
          background-color: #e5e8eb;
        }
        &:hover {
          opacity: 0.6;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .summary {
      display: flex;
      justify-content: space-between;      
      font-size: 12px;
      line-height: 12px;
      color: #333333;
    }
    @media (max-width: 600px) {
        .summary {
            font-size: 10px;
            line-height: 10px;
        }        
    }
    .tooltip {
      padding: 6px 9px !important;
      border-radius: 5px !important;
    }
  }
  .site:last-child {
    border-bottom: none;
  }
}

#uptime::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#footer {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 25px;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    font-weight: bold;
    color: #555555;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  @media (max-width: 600px) {
    font-size: 10px;
    .container {
        font-size: 10px;
    }
    .left, .right {
        font-size: 10px;
    }
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.search-container {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  &::placeholder {
    color: #333;
  }  
  &:-ms-input-placeholder {
    color: #333;
  }
  &::-ms-input-placeholder {
    color: #333;
  }
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

@media (max-width: 600px) {
    .search-input {
        font-size: 12px;
    }

    .clear-button {
        font-size: 14px;
    }
}

.no-results {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}